<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Carte des technologies</title>
    <link rel="stylesheet" href="../styles/details.css" />
  </head>
  <body>
 
    <main>
<div class="details-list">
 <div class="details">React</div>
 <div class="details">Vue.js</div>
 <div class="details">Angular</div>
 <div class="details">Docker</div>
 <div class="details">Kubernetes</div>
</div>      
    </main>
    <script src="scripts/main.js" defer></script>
  </body>
</html>