<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Carte des technologies</title>
    <link rel="stylesheet" href="../styles/details.css" />
  </head>
  <body>
 
    <main>
<div class="details-list">
 <div class="details">
  <div class="details-header">
    <h2>React</h2>
    <div class="Tag"><p>Framework</p></div>
  </div>
  
    <h4>Librairie JavaScript pour construire des interfaces utilisateur</h4>
    <p>Création de composants, rendu UI, gestion de l’état local</p>



 </div>
</div>      
    </main>
    <script src="scripts/main.js" defer></script>
  </body>
</html>