



.details-list {
    margin: 10px;
 display: flex;
 flex-wrap: wrap;
justify-content: center;
 gap: 10px;
}
.details {
  display: flex;
  flex-direction: column;

  background-color: #182634;
 padding: 18px 16px;
 border-radius: 6px;
   border: 1px solid #223649;
   transition: 100ms;
   /* height: 50%; */
   width: 35%;

}

.details .details-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  

}


.Tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
}
.MainTag{
  background-color: #0641796f;
  padding: 5px 10px;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
}
.SecondTag{
  background-color: #6a79066f;
  padding: 5px 10px;
    width: fit-content;
  height: fit-content;
  border-radius: 8px;
  margin: 0px 5px;
}



.details h2{
  margin: 10px 0px;
   

}

.tech:hover {
 transform: translateY(-5px);
   transition: 100ms;

}


