* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
      background-color: #101922;
      color: white;

}

.details-list {
    margin: 10px;
 display: flex;
 flex-wrap: wrap;
justify-content: center;
 gap: 10px;
}
.details {
  background-color: #182634;
 padding: 18px 16px;
 border-radius: 6px;
   border: 1px solid #223649;
   transition: 100ms;
   height: 50%;
   width: 35%;

}

.details h2{
  margin: 10px 0px;
   

}

.tech:hover {
 transform: translateY(-5px);
   transition: 100ms;

}