header{
    background-image:linear-gradient(#182634,#2236)
}
footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-image:linear-gradient(#182634,#2236);
  color: white;

}