header {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 20px auto 0px  auto;
}

hr{
    width: 75%;
   margin: 5px auto  ;
  border: 1px solid #ffffff10;
}

.search-bar h1{
    color:black;
    padding-left: 40%;
}

.search-bar {
    background-color: hwb(180 0% 0%);
    border-style:solid;
    border-width: medium;
}