header {
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 20px auto 0px  auto;
    text-align: center;
}

hr{
    width: 75%;
   margin: 5px auto  ;
  border: 1px solid #ffffff10;
}

.search-bar h1{
    color:black;
    padding-left: 40%;

}


.search-bar {
    background-color: #182634;
   padding: 5px 10px;
   display: flex;
    border-radius: 6px;
   border: 1px solid #223649;

}

.search-bar:hover {
   
   border: 1px solid #2d6192;

}


.search-bar form{
   align-items: center;
   display: flex;

}

.search-bar input[type=text]
{
    color: white;
    background-color: #182634;
   
}

.search-bar input
{
    outline: none;
    border: none;
   
}

 @media (max-width: 750px) {

.details {

    display: flex;
    height: fit-content;
    width: 100%;
    font-size: 1.5em;
}
.tech {
  font-size: 1em;
  
}

header {
   
   
    justify-content: center;
  
}

 }
