

.listes nav li{
    background-color:rgb(10, 10, 156);
    color: rgb(243, 246, 248);
    text-align:justify;
    font: size 1.2rem;
    margin:40px;
    flex-direction: row;

}
.listes ul{
    background-color: rgb(112, 171, 223);
    margin: auto;
}
