

ul li{
    background-color:#182634;
    color: rgb(245, 246, 250);
    margin:10px 0;
    flex-direction: row;
    cursor: pointer;
    list-style:none;
    padding: 10px 16px;
    border: 1px solid #223649;


}

ul{
    margin: auto;
    padding:10px;
}

.Center-Text {
    text-align: center;
}



