body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f2f2f2;
    padding:20px;
}

ul li{
    background-color:rgb(10, 10, 156);
    color: rgb(245, 246, 250);
    text-align:justify;
    font: size 1.2rem;
    margin:10px 0;
    flex-direction: row;
    cursor: pointer;
    list-style:none;
    padding: 10px;

}
ul{
    background-color: rgb(195, 208, 220);
    margin: auto;
    padding:0;
}
h1{
    text-align: center;
}